/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

a{
    text-decoration: none;
}

.container{
    max-width: 100px;
    margin: auto;
    padding:  20px ;
    display: inline;
}

.nav-center{
    display: flex;
    position: sticky ;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    height: 40px;
    }

.nav-links {
    display: flex;
    padding: 0 100px;
    text-align: center;
}

.nav-links li{
    display: flex;
    margin: auto;
    padding: 0px;
    
}

.nav-links li a{
    text-align: center;
} */